
.fondo {
    background-image: url(../images/icon/background.jpg);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    display: none;
}

h2 {
    position: absolute;
    width: 800px;
    height: 131px;
    left: 189px;
    top: 60px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #aaa8a8;
}

h3 {
    position: absolute;
    width: 760px;
    height: 331px;
    left: 1px;
    top:190px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 86px;
    color: #FFFFFF;
}

.form-group1 {

    padding: 30px;
    margin: auto;
    position: absolute;
    width: 400px;
    height: 95px;
    left: 180px;
    top: 250px;
    font-family: 'Calibri';
    color: white
}

.form-group2 {

    padding: 30px;
    margin: auto;
    position: absolute;
    width: 750px;
    height: 105px;
    left: 180px;
    top: 320px;
    font-family: 'Calibri';
    color: white;
}

.form-group3 {


    margin: auto;
    position: absolute;
    width: 611px;
    height: 95px;
    left: 294px;
    top: 400px;
    font-family: 'Calibri';
    color: white
}

.form-group4 {

    padding: 0px;
    margin: auto;
    position: absolute;
    width: 211px;
    height: 95px;
    left: 20px;
    top: 110px;
    font-family: 'Times New Roman', serif;
    font-size: 10;
}

.form-group5 {

    padding: 30px;
    margin: auto;
    position: absolute;
    width: 400px;
    height: 95px;
    left: 180px;
    top: 180px;
    font-family: 'Calibri';
    color: white;
}

.identify {

    padding: 10px;
    margin: auto;
    position: absolute;
    width: 335px;
    height: 48px;
    left: 210px;
    top: 140px;
    font-family: Montserrat;
    font-size: 16;
    color: black;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid #A9D0F5;
    border-radius: 30px;
    font-family: 'Calibri';
    font-size: 18px;
}


.signup {
    padding:10px;
    margin: auto;
    position: absolute;
    width: 120px;
    height: 45px;
    left: 10px;
    top:50px;
    font-family: Montserrat;
    font-size: 12;
}

.new-account {
    padding:10px;
    position: absolute;
    width: 311px;
    height: 95px;
    left: 1px;
    top: 170px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 6px;
    color: #FFFFFF;
}
a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 70px;
    color: #CEE3F6;
}

.formcontrol {
    width: 340px;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 3px solid #A9D0F5;
    font-family: 'Calibri';
    font-size: 18px;
    border-radius: 30px;
}

.BotonGoogle {
    padding:0px;
    width: 220px;
    height: 100px;
    left: 10px;
    top:80px;
    font-family: Montserrat;
    font-size: 12;
}

.formscheck {
    padding:0px;
    width: 300px;
    height: 30px;
    left: 100px;
    top:120px;
    font-family: Montserrat;
    font-size: 12;
}

.new-account1 {
    padding:1px;
    position: absolute;
    width: 211px;
    height: 105px;
    left: 10px;
    top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 1px;
    color: #FFFFFF;
}

.Titulo {
    position: absolute;
    width: 760px;
    height: 331px;
    left: 300px;
    top:60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 86px;
    color: #FFFFFF;
}

.new-account2 {
    padding:1px;
    position: absolute;
    width: 211px;
    height: 105px;
    left: 10px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 1px;
    color: #FFFFFF;
}

.form-grouptext {

    padding: 20px;
    position: absolute;
    width: 410px;
    line-height: 10px;
    left: 300px;
    top: 500px;
    font-family: 'Times New Roman', serif;
    font-size: 12;
}
.Newaccounts {
    padding:1px;
    position: absolute;
    width: 211px;
    height: 105px;
    left: 10px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 1px;
    color: #FFFFFF;
}

.forgotpassword {
    padding:1px;
    position: absolute;
    width: 211px;
    height: 105px;
    left: 10px;
    top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 15px;
    line-height: 1px;
    color: #FFFFFF;
}

.form-group {

    padding: 30px;
    margin: auto;
    position: absolute;
    width: 400px;
    height: 95px;
    left: 0px;
    top: 110px;
    font-family: 'Calibri';
    color: white
}

.form-group4 {

    padding: 30px;
    margin: auto;
    position: absolute;
    width: 400px;
    height: 95px;
    left: 0px;
    top: 175px;
    font-family: 'Calibri';
    color: white
}